#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 10 - Insert a markdown cell to list Objectives

<b>Objectives:</b>
* List popular languages for Data Science
* List data science libraries
* Creating a table of Data Science tools
* Introducing arithmetic expression examples
* Multiplying and adding numbers

#### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
* TensorFlow
* NumPy
* SciPy
* Pandas
* Matplotlib

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

2+3

4*2

6/3

#### Exercise 8 - Create a code cell to multiply and add numbers

In [10]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [12]:
"This will convert 200 minutes to hours by dividing by 60"
200/60

3.3333333333333335

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Hira Akhtar